@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* CSS reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Open Sans", sans-serif;
    background: #f6f8fb;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: #575a5e;
    text-decoration: none;
}


/* end */

.btn--primary {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 4px;
    background: #003a8c;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.5s;
}

.btn--primary:hover {
    background: rgba(69, 140, 240, 0.575);
    color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.btn--secondary {
    display: inline-block;
    padding: 7px 13px;
    border-radius: 4px;
    background: #fff;
    color: #003a8c;
    border: 1px solid #003a8c;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.5s;
}

.btn--secondary:hover {
    border: 1px solid transparent;
    background: rgba(69, 140, 240, 0.575);
    color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.ml-5 {
    margin-left: 5px;
}


/* Sidebar */

.sidebar {
    width: 80px;
    height: 100%;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: #003a8c;
    /* box-shadow: 0 8px 15px rgb(2, 4, 24); */
    border-right: 2px solid rgba(255, 255, 255, 0.09);
    transition: 0.4s ease-in-out;
    user-select: none;
}

.sidebar.open {
    width: 280px;
    min-width: 280px;
}

.sidebar .logo {
    width: 100%;
    height: 240px;
    padding: 30px 0;
    display: grid;
    align-items: center;
    justify-items: center;
}

.sidebar .logo img {
    width: 46px;
    transition: 0.4s;
    margin-left: -30px;
}

.sidebar.open .logo img {
    width: 70px;
    margin-left: 0px;
}

.sidebar .logo h3 {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    margin-top: -30px;
    /* font-style: italic; */
    pointer-events: none;
    scale: 0;
    opacity: 0;
}

.sidebar.open .logo h3 {
    scale: 1;
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.2s;
}

.sidebar .nav-title {
    color: #dadada;
    margin: 15px 0 18px;
    pointer-events: none;
    opacity: 0;
    font-size: 12px;
}

.sidebar.open .nav-title {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.2s;
}

.sidebar nav {
    padding: 0 10px;
}

.sidebar.open nav {
    padding: 0 15px;
}

.sidebar nav .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    border-left: 4px solid transparent;
    width: 100%;
    height: 40px;
    padding: 0px 16px;
    margin: 8px 0;
    color: #fff;
    transition: 0.3s;
}

.sidebar nav .nav-link.active {
    background: rgba(255, 255, 255, 0.2);
    border-left: 4px solid #fff;
}

.sidebar nav .nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
}

.sidebar nav .dropdown-btn {
    position: relative;
}

.sidebar nav .nav-item i {
    font-size: 18px;
    width: 30px;
}

.sidebar nav .nav-item .fix-size {
    font-size: 20px;
    width: 30px;
}

.sidebar nav .nav-item .icon-dropdown {
    font-size: 15px;
    padding-left: 80px;
    opacity: 0;
    position: absolute;
    right: 20px;
}

.sidebar.open nav .nav-item .icon-dropdown {
    opacity: 1;
}

.sidebar nav .nav-item span {
    font-size: 14px;
    margin-left: 8px;
    font-weight: 400;
    pointer-events: none;
    opacity: 0;
}

.sidebar.open nav .nav-item span {
    opacity: 1;
    pointer-events: visible;
    transition: 0.4s;
}

.sidebar hr {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    margin: 20px 0 30px;
    opacity: 0;
}

.sidebar.open hr {
    opacity: 1;
    transition: 0.4s;
}

.sidebar .toggle {
    line-height: 50%;
    padding: 8px 4px;
    cursor: pointer;
    position: absolute;
    color: #fff;
    top: 180px;
    right: -15px;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    background: #003a8c;
}

.sidebar.open .toggle {
    transform: translateY(45px);
}

.sidebar .toggle i {
    transition: 0.4s linear;
}

.sidebar.open .toggle i {
    transform: rotateY(180deg);
}


/* Sub menu */

.sidebar nav .sub-menu {
    padding-left: 22px;
    display: none;
}

.sidebar.open nav .sub-menu {
    padding-left: 25px;
    display: block;
}

.sidebar nav .sub-menu .sub-item {
    cursor: pointer;
    border-radius: 4px;
    border-left: 4px solid transparent;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 8px;
    margin: 5px 0;
    transition: 0.3s;
}

.sidebar nav .sub-menu .sub-item.active {
    background: rgba(255, 255, 255, 0.2);
    border-left: 4px solid #fff;
}

.sidebar nav .sub-menu .sub-item a {
    color: #fff;
}

.sidebar nav .sub-menu .sub-item i {
    width: 20px;
}

.sidebar nav .sub-menu .sub-item span {
    pointer-events: none;
    opacity: 0;
    font-size: 14px;
    font-weight: 400;
}

.sidebar.open nav .sub-menu .sub-item span {
    opacity: 1;
    pointer-events: visible;
    transition: 0.4s;
}


/* Main content */

.main-content {
    width: 100%;
    height: 100%;
}

.main-content.open {
    /* width: 900px; */
    max-width: 90%;
}

.header-content {
    padding: 30px 20px;
}

.header-content .header-title {
    display: flex;
    align-items: center;
    float: left;
}

.header-content .header-title h3 {
    font-weight: 600;
    font-size: 20px;
}

.header-content .header-title span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #e6ecf4;
    color: #003a8c;
    margin-left: 10px;
}

.header-content .header-info {
    float: right;
}

.header-content .header-info .btn-info {
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    align-items: center;
}

.header-content .header-info .btn_info img {
    cursor: pointer;
    width: 38px;
    height: 38px;
    object-fit: cover;
    margin-right: 5px;
}

.header-content .header-info .dropbtn {
    color: #003a8c;
    font-size: 12px;
    cursor: pointer;
    margin-left: 8px;
}


/* Button Dropdown */

.header-content .header-dropdown {
    position: relative;
    display: inline-block;
}

.header-content .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 10%;
    background-color: #fff;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    z-index: 1000;
}

.header-content .dropdown-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #575a5e;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 4px;
}

.header-content .dropdown-content a img {
    margin-right: 5px;
}

.header-content .dropdown-content a .icon-file {
    margin-right: 5px;
    font-size: 20px;
    width: 25px;
    color: #003a8c;
}

.header-content .header-dropdown a:hover {
    background-color: #e6ecf4;
    color: #003a8c;
}

.header-content .show {
    display: block;
}


/* Content */

.content {
    background: #fff;
    margin: 30px 20px 20px 20px;
    padding: 20px;
    border-radius: 10px;
    height: 80%;
    overflow-y: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.content .top-content {
    width: 100%;
}

.content .btn-content {
    float: right;
}


/* Content ----- btn-upload */

.content #btn-upload .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.content #btn-upload .btn {
    display: inline-block;
    border: none;
    background-color: #003a8c;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    text-align: start;
}

.content #btn-upload .btn span {
    font-size: 20px;
    padding-right: 5px;
}

.content #btn-upload .upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}


/* End */

.content .table-content {
    width: 100%;
    height: 100vh;
    margin-bottom: 1%;
    overflow-y: auto;
}

.content .table-content table {
    width: 100%;
}

.content .table-content table th {
    font-weight: 600;
    background-color: #E6ECF4;
    color: #003a8c;
    padding: 15px 0;
    position: sticky;
    top: 0%;
    font-size: 13px;
    z-index: 1;
    vertical-align: middle;
}

.content .table-content table td {
    border-bottom: 1px solid #cecece;
    background: #fff;
    color: #3A3A3A;
    padding: 5px 0;
    font-size: 13px;
    vertical-align: middle;
}

.content .table-content table td:hover {
    cursor: pointer;
}

.content .table-content table .td-center {
    text-align: center;
}

.content .table-content table .td-filename .filename-link {
    display: flex;
    align-items: center;
    justify-content: start;
}

.content .table-content table .td-filename img {
    padding-right: 5px;
}

.content .table-content table .td-filename span {
    font-size: 13px;
    color: #3A3A3A;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.content .table-content table td .icon-trash {
    color: #B63316;
    font-size: 23px;
}

.content .table-content table td .icon-pdf {
    color: #003a8c;
    font-size: 25px;
}

.content .table-content table td button {
    background: none;
    cursor: pointer;
    transition: all .5s;
}

.content .table-content table td button:hover {
    transform: scale(1.5);
}

.content .table-content table td button+button {
    padding: 10px;
}

tr:hover td {
    background: #f5f5f5 !important;
}

table.table tbody tr.selected td {
    background-color: #f5f5f5 !important;
}


/* style scroll content/table */

#style-scroll-content::-webkit-scrollbar,
#style-scroll-table::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

#style-scroll-content::-webkit-scrollbar-thumb {
    background-color: #003a8c;
}

#style-scroll-table::-webkit-scrollbar-thumb {
    background-color: #C0C0C0;
}

#style-scroll-content::-webkit-scrollbar-track,
#style-scroll-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}


/* Class */

.style-scroll-content::-webkit-scrollbar,
.style-scroll-table::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.style-scroll-content::-webkit-scrollbar-thumb {
    background-color: #003a8c;
}

.style-scroll-table::-webkit-scrollbar-thumb {
    background-color: #C0C0C0;
}

.style-scroll-content::-webkit-scrollbar-track,
.style-scroll-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}


/* ==========================Modal======================== */


/*========== Modal CreatePDF============*/

#createPDF {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(77, 77, 77, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

#createPDF.open {
    display: flex;
}

#createPDF .modal-container {
    background: #fff;
    width: 500px;
    max-width: calc(100% - 32px);
    /*cách vào 2 bên khi thu nhỏ */
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.9s;
    /* gọi animation */
    border-radius: 4px;
}

#createPDF .modal-header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
    background: #e6ecf4;
    font-size: 18px;
    font-weight: 600;
    color: #575A5E;
    border-radius: 4px 4px 0 0;
    padding-left: 10px;
}

#createPDF .modal-header i {
    margin-right: 5px;
    color: #003a8c;
    font-size: 25px;
}

#createPDF .modal-close {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #575a5e;
    text-decoration: none;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    border: 1px solid #575a5e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
}

#createPDF .modal-close:hover {
    background: #575a5e;
    color: #fff;
}

#createPDF .modal-body {
    padding: 30px;
}

#createPDF .modal-label {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 10px;
}

#createPDF .modal-body .input-group {
    display: block;
    width: 100%;
}

#createPDF .modal-body .input-group .input-item {
    width: 100%;
    margin-top: 20px;
}

#createPDF .modal-body .input-group .input-item input {
    width: 100%;
    padding: 5px;
}

#createPDF hr {
    width: 100%;
    height: 1px;
    background: #cecece;
    border-radius: 3px;
    margin-bottom: 10px;
}

#createPDF .modal-footer {
    width: 100%;
    padding: 0 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Fix Select2 */

.select2-container {
    min-width: 100%;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    position: relative;
    padding: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #dae8fc;
    border: 1px solid #dae8fc;
    color: #222;
    font-size: 13px;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    /* margin-left: 5px;
    margin-top: 5px; */
    padding: 5px;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-results__option {
    padding-left: 15px;
    font-size: 14px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #dae8fc;
    color: #333;
    font-size: 14px;
}

.select2-container--default .select2-results__option--selected {
    background-color: transparent;
    color: #003a8c;
    font-weight: 600;
    font-size: 14px;
}

.select2-container--default .select2-results__option--selected::before {
    font-family: fontAwesome;
    content: "\f14a ";
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.select2-container--open .select2-dropdown--below {
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
    position: absolute;
    left: 0;
    top: 0;
}


/* Tạo keyframe cho animation */

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Modal info */

#info {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    z-index: 2;
}

#info:target {
    visibility: visible;
    opacity: 1;
}

#info .modal__content {
    border-radius: 5px;
    position: relative;
    width: 500px;
    max-width: 100%;
    background: #fff;
}

#info .modal__content .modal__title {
    display: flex;
    align-items: center;
    background: #e6ecf4;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
}

#info .modal__content .modal__title img {
    padding-right: 5px;
}

#info .modal__content .modal__title p {
    font-weight: 500;
    font-style: 20px;
}

#info .modal__content .modal__title-child {
    background: #e6ecf4;
    padding: 8px 15px;
}

#info .modal__content .modal__title-child p {
    font-size: 16px;
}

#info .modal__content .modal__detail {
    padding: 0 15px;
}

#info .modal__content .modal__detail .user {
    display: flex;
    align-items: center;
    padding: 15px;
}

#info .modal__content .modal__detail .user .avarta_name {
    color: #003a8c;
    background: #e6ecf4;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #b4b4b4;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    font-weight: 500;
}

#info .modal__content .modal__detail .user .info_name {
    padding-left: 10px;
}

#info .modal__content .modal__detail .user .info_name p {
    font-size: 15px;
    font-weight: 500;
}

#info .modal__content .modal__detail .user .info_name small {
    font-size: 13px;
}

#info .modal__content .modal__detail .input_group {
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 20px 15px;
    padding: 15px;
    width: 100%;
}

#info .modal__content .modal__detail .input_address {
    display: grid;
    grid-template-columns: 100%;
}

#info .modal__content .modal__detail .input_group .input_title {
    font-size: 14px;
    position: relative;
}

#info .modal__content .modal__detail .input_group .input_title .input_item {
    width: 100%;
    outline: none;
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 5px;
    color: #003a8c;
}

#info .modal__content .modal__detail .input_group .input_item:focus {
    outline: 1px solid #003a8c;
}

#info .modal__content .modal__detail .input_group .input_item::placeholder {
    color: #b4b4b4;
    font-size: 13px;
}

#info .modal__content .modal__detail .input_group .showpass {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #003a8c;
    cursor: pointer;
}

#password+.showpass {
    cursor: pointer;
    pointer-events: all;
}

#numbPhone {
    padding: 5px !important;
    padding-left: 10px !important;
}

.iti__flag-container {
    top: 5px !important;
}

#info .modal__footer {
    text-align: right;
    border-top: 1px solid #eee;
    padding: 15px;
}

#info .modal__footer a {
    color: #585858;
}

#info .modal__footer i {
    color: #d02d2c;
}

#info .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #575a5e;
    text-decoration: none;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    border: 1px solid #575a5e;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

#info .modal__close:hover {
    color: #fff;
    background: #222;
}


/* Modal eSign */

#eSign {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    z-index: 2;
}

#eSign:target {
    visibility: visible;
    opacity: 1;
}

#eSign .modal__content {
    border-radius: 5px;
    position: relative;
    width: 500px;
    max-width: 100%;
    background: #fff;
}

#eSign .modal__content .modal__title {
    display: flex;
    align-items: center;
    background: #e6ecf4;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
}

#eSign .modal__content .modal__title img {
    padding-right: 5px;
}

#eSign .modal__content .modal__title .icon-file {
    margin-right: 5px;
    font-size: 20px;
    color: #003a8c;
}

#eSign .modal__content .modal__title p {
    font-weight: 500;
    font-style: 20px;
}

#eSign .modal__content .modal__title-child {
    background: #e6ecf4;
    padding: 8px 15px;
}

#eSign .modal__content .modal__title-child p {
    font-size: 16px;
}

#eSign .modal__content .modal__detail {
    padding: 0 15px;
}

#eSign .modal__content .modal__detail .user {
    display: flex;
    align-items: center;
    padding: 15px;
}

#eSign .modal__content .modal__detail .user .avarta_name {
    color: #003a8c;
    background: #e6ecf4;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #b4b4b4;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    font-weight: 500;
}

#eSign .modal__content .modal__detail .user .info_name {
    padding-left: 10px;
}

#eSign .modal__content .modal__detail .user .info_name p {
    font-size: 15px;
    font-weight: 500;
}

#eSign .modal__content .modal__detail .user .info_name small {
    font-size: 13px;
}

#eSign .modal__content .modal__detail .input_group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
}

#eSign .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#eSign .btn {
    border: 2px solid #003a8c;
    color: #003a8c;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#eSign .upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

#eSign .modal__footer {
    text-align: right;
    border-top: 1px solid #eee;
    padding: 15px;
}

#eSign .modal__footer a {
    color: #585858;
}

#eSign .modal__footer i {
    color: #d02d2c;
}

#eSign .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #575a5e;
    text-decoration: none;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    border: 1px solid #575a5e;
    display: flex;
    align-items: center;
    justify-content: center;
}

#eSign .modal__close:hover {
    color: #fff;
    background: #222;
}

#eSign .input-date input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #b4b4b4;
    outline: none;
}

#eSign .input-date input:focus {
    outline: 1px solid #003a8c;
    border: none;
}


/*========== Modal View PDF============*/

#viewPDF {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(77, 77, 77, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#viewPDF.open {
    display: flex;
}

#viewPDF .modal__content {
    border-radius: 5px;
    position: relative;
    width: 1115px;
    max-width: 100%;
    background: #fff;
}

#viewPDF .modal__content .modal__title {
    display: flex;
    align-items: center;
    background: #e6ecf4;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
}

#viewPDF .modal__content .modal__title i {
    padding-right: 8px;
    font-size: 20px;
    color: #003a8c;
}

#viewPDF .modal__content .modal__title p {
    font-weight: 500;
    font-style: 20px;
}

#viewPDF .modal__content .modal__detail {
    padding: 0 15px;
}

#viewPDF .modal__footer {
    text-align: right;
    border-top: 1px solid #eee;
    padding: 15px;
}

#viewPDF .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #575a5e;
    text-decoration: none;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    border: 1px solid #575a5e;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

#viewPDF .modal__close:hover {
    color: #fff;
    background: #222;
}

#statusSelector {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #003a8c;
    border: none;
    outline: none;
    background: #E6ECF4;
    padding: 3px;
}


/* Footer */

footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
}

footer p {
    color: #003a8c;
    opacity: 0.8;
}

footer a {
    color: #003a8c;
    opacity: 0.8;
}


/* =========Page Sub======== */

#page--sub .top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page--sub .top-content table .th-checkall {
    padding: 15px 5px !important;
}

#page--sub .btn-trash {
    margin-bottom: 20px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

#page--sub .btn-trash button {
    background: none;
    border: none;
    outline: none;
    padding-right: 15px;
}

#page--sub .btn-trash button .icon-delete {
    font-size: 21px;
}

#page--sub .btn-trash a,
#page--sub .btn-trash button .icon-delete {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

#page--sub .btn-trash a:hover,
#page--sub .btn-trash button .icon-delete:hover {
    background: #e6ecf4;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

#page--sub .btn-trash img {
    width: 20px;
    object-fit: cover;
}

#page--sub .btn-check {
    margin-bottom: 20px;
}

#page--sub .btn-check button {
    display: flex;
    align-items: center;
}

#page--sub .btn-check button img {
    object-fit: cover;
    margin-right: 5px;
}

#page--sub .display-r {
    display: flex;
    justify-content: flex-end;
}

.table-content .box-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.table-content td .box {
    padding: 3px 8px;
    border-radius: 20px;
    display: inline-block;
}

.table-content td .box-account {
    color: #C57620;
    border: 1px solid #C57620;
}

.table-content td .box-category {
    color: #09797B;
    border: 1px solid #09797B;
}

.table-content td .box-mail {
    color: #3E79D6;
    border: 1px solid #3E79D6;
}

.table-content td .icon-view {
    font-size: 25px;
    color: #003a8c;
}

.table-content .checkitem:checked+tr:hover td {
    background-color: #f5f5f5 !important;
}


/* custom checkbox */

#page--sub .input_label,
#page--delete .input_label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page--sub .input_label input,
#page--delete .input_label input,
#page--manage .input_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#page--sub .checkmark,
#page--delete .checkmark,
#page--manage .checkmark {
    position: absolute;
    top: -5px;
    left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#page--sub label:hover input~.checkmark,
#page--delete label:hover input~.checkmark,
#page--manage label:hover input~.checkmark {
    background-color: #ccc;
}

#page--sub label input:checked~.checkmark,
#page--delete label input:checked~.checkmark,
#page--manage label input:checked~.checkmark {
    background-color: #003a8c;
}

#page--sub .checkmark:after,
#page--delete .checkmark:after,
#page--manage .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#page--sub label input:checked~.checkmark:after,
#page--delete label input:checked~.checkmark:after,
#page--manage label input:checked~.checkmark:after {
    display: block;
}

#page--sub label .checkmark:after,
#page--delete label .checkmark:after,
#page--manage label .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Custom check box */

#page--sub .top-content .btn-down button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    transition: all .5s;
}

#page--sub .top-content .btn-down button i {
    font-size: 21px;
    color: #575A5E;
}

#page--sub .btn-down button:hover,
#page--sub .btn-check .btn-reset i:hover {
    background: #e6ecf4;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

#page--sub .btn-check .btn-filter {
    margin-right: 20px;
    /* border: 1px solid #c8c8c8;
    color: #495057; */
    cursor: pointer;
    position: relative;
}

#page--sub .btn-check .btn-filter:hover {
    color: #fff;
    border: 1px solid transparent;
}

#page--sub .btn-check .btn-filter i {
    padding-right: 5px;
    font-size: 18px;
}

#page--sub .btn-check .btn-filter .alarm-number {
    position: absolute;
    top: -10px;
    right: -5px;
    color: #003a8c;
    background: #E6ECF4;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: 600;
}

#page--sub .btn-check .btn-filter {
    border: 1px solid #003a8c;
    color: #003a8c;
}

#page--sub .btn-check .btn-reset {
    margin-right: 15px;
    background: none;
    color: #495057;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

#page--sub .btn-check .btn-reset i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border-radius: 50%;
    transition: all .5s;
}


/* #page--sub .btn-check .btn-reset,
#page--sub .btn-check .alarm-number {
    display: none;
} */


/* Sidenav Filter */

#page--sub .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
    padding-top: 60px;
}

#page--sub .sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#page--sub .sidenav a:hover {
    color: #575a5e;
}

#page--sub .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -50px;
    font-size: 36px;
    margin-left: 50px;
}

#page--sub .sidenav .sidenav-title {
    padding: 5px 15px;
    font-weight: 600;
    color: #575A5E;
    font-size: 14px;
}

#page--sub .sidenav hr {
    height: 1px;
    background: #eee;
    border-radius: 3px;
    margin: 5px 15px;
}

#page--sub .sidenav .sidenav-content {
    padding: 5px 15px;
}

#page--sub .sidenav .sidenav-content label {
    color: #003a8c;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
}

#page--sub .sidenav .sidenav-content label .select2-container {
    min-width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

#page--sub .sidenav .sidenav-content label #reportrange span {
    color: #222;
    font-weight: 500;
}

.daterangepicker .ranges li.active {
    background-color: #003a8c !important;
}

#page--sub .sidenav .btn-success {
    padding: 15px;
}


/* Sidenav Filter */


/*========= Page Delete =========*/

#page--delete .header-content .icon-back {
    color: #003a8c;
    background: #fff;
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

#page--delete .top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#page--delete .top-content .alarm-content p {
    font-size: 14px;
}

#page--delete .top-content .alarm-content span {
    color: #f30000;
}

#page--delete .btn--primary {
    display: flex;
}

#page--delete .icon-restore {
    font-size: 15px;
    padding-right: 5px;
}


/* ===== Page Login ===== */

#page--login {
    background: #000;
    position: relative;
}

#page--login form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 390px;
    max-height: 420px;
    height: auto;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0px 8px rgba(255, 255, 255, 0.2);
    background: linear-gradient(90deg, #3a47d5 0%, #003a8c 100%);
}

#page--login form .con {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
}

#page--login header {
    margin: 33px;
    text-align: center;
    width: 100%;
}

#page--login header img {
    width: 96px;
    object-fit: cover;
    margin-left: 8px;
}

#page--login header h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

#page--login header p {
    letter-spacing: 0.05em;
}

#page--login .field-set {
    margin-left: 8px;
}

#page--login label {
    position: relative;
}

#page--login .input-item {
    color: #003a8c;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 3px;
    z-index: 10;
}


/* Show/hide password Font Icon */

#eye {
    color: #003a8c;
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    float: right;
    position: relative;
    right: 10px;
    top: 10px;
    z-index: 5;
    cursor: pointer;
}

#page--login input[class="form-input"] {
    width: 280px;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 5px;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    color: #003a8c;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
}

#page--login input::placeholder {
    color: #003a8c;
    opacity: 0.5;
}

#page--login button {
    display: inline-block;
    color: #003a8c;
    font-weight: 600;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #E6ECF4;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

#page--login .submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}

#page--login button:hover {
    transform: translatey(3px);
    box-shadow: none;
}


/* buttons hover Animation */

#page--login button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}

#page--login footer {
    position: fixed;
    bottom: 10px;
    left: 46%;
}

@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}


/* ==== Page Thong tin ho tro ==== */

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10% 0;
}

.info-soft {
    width: 55%;
    height: 400px;
    background: linear-gradient(90deg, #3a47d5 0%, #003a8c 100%);
    text-align: center;
    border-radius: 4px;
    padding: 20px;
}

.info-soft .row {
    margin: 10% 0;
}

.info-soft img {
    width: 200px;
    object-fit: cover;
}

.info-soft p {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}

.info-company {
    line-height: 30px;
}

.info-company h3 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.info-company ul {
    margin-top: 10px;
    margin-left: 20px;
}

.info-company li {
    list-style: square;
}


/* ====== Page 404 ====== */

#page--404 {
    background: linear-gradient(90deg, #3a47d5 0%, #003a8c 100%);
    display: flex;
    color: #fff;
}

#page--404 .container {
    margin: auto;
    display: block;
    text-align: center;
}

#page--404 .container .error {
    position: relative;
}

#page--404 .container .error-title {
    font-size: 150px;
    font-weight: 700;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(96, 2, 31, 1) 0%, rgba(181, 12, 47, 5) 50%, rgba(255, 0, 52, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s;
}

#page--404 .container span {
    font-size: 200px;
}

#page--404 .container img {
    width: 250%;
    position: absolute;
    top: -130%;
    left: 10px;
}

#page--404 .container .error-message-1 {
    font-size: 25px;
    margin-bottom: 10px;
}

#page--404 .container .error-message-2 {
    font-weight: 600;
}

#page--404 .container .error-message-3 {
    margin-top: 20px;
    font-style: italic;
}


/* ==== Page Manage ==== */

#page--manage .top-content .btn-add {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 15px;
}

#page--manage .main-content {
    width: 100%;
}

#page--manage .main-content .footer-content {
    display: flex;
    height: 100%;
    width: 100%;
}

#page--manage .box-table table td:hover {
    cursor: pointer;
}

#page--manage .box-table table td a {
    font-size: 13px;
}

#page--manage .box-table {
    width: 100%;
}

#page--manage .box-table.open {
    width: 100%;
}

#page--manage .box-table .content {
    margin-right: 3px;
}


/* boxAdd */

#page--manage .box-add {
    width: 35%;
    max-width: 35%;
    height: 80%;
    margin-top: 30px;
    border-left: 2px solid #cecece;
    border-right: 2px solid rgba(255, 255, 255, 0.09);
    transition: 0.4s ease-in-out;
    overflow-y: auto;
    display: none;
    position: relative;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}


/* #page--manage .box-add.open {
    display: none;
} */

#page--manage .box-add h4,
#page--manage .box-edit h4 {
    font-size: 16px;
    color: #003a8c;
    background: #fff;
    font-weight: 600;
    padding: 15px;
    width: 100%;
}

#page--manage .box-add hr,
#page--manage .box-edit hr {
    width: 100%;
    height: 1px;
    background: #b4b4b4;
    border-radius: 3px;
}

#page--manage .box-add .box-input {
    display: block;
    width: 100%;
    padding: 15px;
    background: #fff;
    height: 100%;
}

#page--manage .box-add .box-input label,
#page--manage .box-edit .box-input label {
    font-size: 13px;
    color: #333;
    font-weight: 400;
}

#page--manage .box-add .box-input label .required,
#page--manage .box-edit .box-input label .required {
    color: #DC4147;
}

#page--manage .box-add label .input-item,
#page--manage .box-edit label .input-item {
    width: 100%;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #f5f5f5;
}

#page--manage .box-add label .input-item::placeholder,
#page--manage .box-edit label .input-item::placeholder {
    font-size: 13px;
    color: #999;
    opacity: 0.5;
}

#page--manage .box-add .box-input .hr,
#page--manage .box-edit .box-input .hr {
    width: 100%;
    height: 1px;
    background: #003a8c;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#page--manage .box-add p,
#page--manage .box-edit p {
    color: #003a8c;
    font-size: 14px;
    font-weight: 500;
}

#page--manage .box-add .checkbox-list {
    margin-top: 15px;
    line-height: 10px;
}

#page--manage .input_label {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page--manage .checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#page--manage .input_label p {
    color: #000;
    font-size: 13px;
    padding: 5px;
}

#page--manage .btn-group {
    display: flex;
    justify-content: end;
    padding: 18px;
    background: #fff;
    width: 100%;
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.1);
}

#page--manage .btn-group .btn--secondary {
    margin-right: 10px;
}

#page--manage .content .table-content table td {
    padding: 8px 0;
}

#page--manage .btn-close {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 30px;
    font-weight: 600;
    color: #495057;
    cursor: pointer;
}


/* Box edit */

#page--manage .box-edit {
    width: 35%;
    max-width: 35%;
    height: 80%;
    margin-top: 30px;
    border-left: 2px solid #cecece;
    border-right: 2px solid rgba(255, 255, 255, 0.09);
    transition: 0.4s ease-in-out;
    overflow-y: auto;
    z-index: 2;
    display: none;
    position: relative;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}


/* #page--manage .box-edit.open {
    display: none;
} */

#page--manage .box-edit .box-input {
    display: block;
    width: 100%;
    padding: 15px;
    background: #fff;
    height: auto;
}

#page--manage .box-edit .checkbox-list {
    line-height: 10px;
    margin-top: 10px;
}

#page--manage .box-edit .checkbox-list-2 {
    margin-top: 10px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    padding: 10px 0;
    gap: 10px;
    line-height: 18px;
}

#page--manage .box-edit .checkbox-list-2 .col-6 {
    width: 50%;
}

@media screen and (max-width: 1023px) {
    .sidebar,
    .content,
    .main-content,
    footer,
    .container,
    .overlay {
        display: none;
    }
    body::before {
        content: "< Giao diện chưa hỗ trợ trên Tablet/Mobile >";
        display: flex;
        align-items: center;
        margin: 0 auto;
        color: #003a8c;
        font-size: 30px;
        font-weight: 600;
    }
}